
{% block content %}

<section class="content-header">
    <h1 style="padding-left: 300px;">
      Histórico
    </h1>
  </section>

  <!-- Main content -->
  <section class="content">
    
    <!-- Default box -->
    <div class="box">
      <div class="box-header">
        <h2 style="padding-left: 305px;" class="box-title">Reservas</h2>
      </div>

      <div class="box-body no-padding">
        <table style="border: 1px solid black; padding: 2px;"  class="table table-striped">
          <tbody>
            <tr>
                <th style="width: 10%;">#</th>
                <th>Usuário</th>
                <th>Data</th>
                <th>Projetor(Tombamento)</th>
                <th>Horário</th>
              </tr>
              {% for obj in dados %}
                <tr>
                  <td >{{ forloop.counter }}</td>
                  <td style="width: 30%; text-align:justify; padding-left: 20px;" >{{ obj.user.first_name }}</td>
                  <td style="width: 50%; text-align:justify; padding-left: 25px;" >{{ obj.date }}</td>
                  <td style="width: 60%; text-align:justify; padding-left: 50px;" >{{ obj.projector }}</td>
                  <td style="width: 60%; text-align:justify; padding-left: 50px;" >
                  {% for s in obj.slots.all|dictsort:"name" %}
                    {{ s.name }}
                    {% if not forloop.last %}, {% endif %}
                  {% endfor %}
                  </td>
                </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>

{% endblock %}