{% extends '../../core/base.html' %}

{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
      Histórico
    </h1>
  </section>

  <!-- Main content -->
  <section class="content">
    
    <!-- Default box -->
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Reservas</h3>
      </div>
      <div class="search-user">
        <form class="navbar-form navbar-left" role="search" method="get">
            <div class="form-group">
            <input type="text" class="form-control" placeholder="tombamento" name="search">
            </div>
            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
        </form>
      </div>
      <div class="search-user">
        <form class="navbar-form navbar-left" role="search-date" method="get">
            <div class="form-group">
            <input type="text" class="form-control" placeholder="data" name="search-date">
            </div>
            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
        </form>
      </div>
      <div class="box-body no-padding">
        <table class="table table-striped">
          <tbody>
            <tr>
                <th style="width: 5%">#</th>
                <th>Usuário</th>
                <th>Data</th>
                <th>Projetor</th>
                <th>Horário</th>
              </tr>
              {% for obj in object_list %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ obj.user.first_name }}</td>
                  <td>{{ obj.date }}</td>
                  <td><a href="{% url 'locker:rate-create' obj.projector.id %}">{{ obj.projector }}</a></td>
                  <td>
                  {% for s in obj.slots.all|dictsort:"name" %}
                    {{ s.name }}
                    {% if not forloop.last %}, {% endif %}
                  {% endfor %}
                  </td>
                </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        Footer
      </div>
      <!-- /.box-footer-->
    </div>
    <!-- /.box -->

  </section>
  <!-- /.content -->
{% endblock %}